#pfp {
  width: 40vw
  border: solid 2px;
  border-radius: 75px;
}

#name {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, cyan, #78DE5E);
  background-size: 100vw 100vh;
}

.links {
  width: 60vw;
  background-color: white;
  font-size: 3vw;
  border-radius: 20px;
  padding: 10px;
  border-radius: 30px;
  display: block;
  text-align: center;
  margin: 5px;
  color: slateblue;
  text-decoration: none;
}
